<h1>Fruits list</h1>
<div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>color</th>
            <th>user ID</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if fruits.length}}
        {{#each fruits}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{color}}</td>
            <td>{{userId}}</td>

            <td>
                <a href="/about_fruit/{{id}}">Batafsil</i></a>
                <a href="/update_fruit/{{id}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                <a href="/fruit/{{id}}"><i class="fa fa-trash text-danger"></i></a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <h1>No Fruits</h1>
        {{/if}}

    </tbody>
</table>
</div>