<h1>Cars list</h1>
<div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>brand</th>
            <th>User id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if cars.length}}
        {{#each cars}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{brand}}</td>
            <td>{{userId}}</td>
            <td>
                <a href="/about_car/{{id}}">Batafsil</a>
                <a href="/update_car/{{id}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                <a href="/car/{{id}}"><i class="fa fa-trash text-danger"></i></a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <h1>No Cars</h1>
        {{/if}}

    </tbody>
</table>
</div>